.main-content dt::after {
  content: "" !important;
}

.main-content dl {
  grid-template: 0 !important;

.main-content dt {
}

.main-content dd {
  line-height: 1.4em !important;
  margin-bottom:0.8em;
  font-size:0.875em !important;
  
}
